body {
    padding: 50px;
    min-width: 1280px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


.navbar>.container .navbar-brand{
    margin-left: 50px;
}

.navbar-inverse .navbar-brand{
    color:white;
    font-size:22px;
}

.navbar-inverse .navbar-nav>li>a{
    padding-top: -5px;
    color: #ffffff;
    font-size: 14px;
}