.gap{
    margin-right: 10px;
}

.gap-bottom{
    margin-bottom:10px
}

.fix-top-2{
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1029;
}

.fixed-width {
    width: 1280px;
}

#newPath,#deletePath{
    width: 75px;
    height: 37px;
    font-size: 16px;
}

#pointList{
    height: 37px;
    font-size: 16px;
}

#pathsPage{
    margin-top: 70px;
}

.circlePic{
    margin-bottom: 5px;
    height: 14px;
}

.thead-color{
    background-color: #428BCA;
    color: #eeeeee;
}